<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Links Section -->
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>

      <!-- Social Media Section -->
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <div class="social-icons">
          <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <!-- Contact Section -->
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>Email: info&#64;movieapp.com</p>
        <p>Phone: +123 456 7890</p>
      </div>
    </div>
    <hr />
    <p class="text-center">&copy; 2025 MovieApp. All rights reserved.</p>
  </div>
</footer>