<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="home"><i class="fas fa-film text-white"></i> MovieApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="action" routerLinkActive="active">Action</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="comedy" routerLinkActive="active">Comedy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="horror" routerLinkActive="active">Horror</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="drama" routerLinkActive="active">Drama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="scifi" routerLinkActive="active">Science Fiction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="adventure" routerLinkActive="active">Adventure</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="animation" routerLinkActive="active">Animation</a>
        </li>
      </ul>
    </div>
  </div>
</nav>